@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.theme-custom {
  /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: #000046;
  --background: 255 100% 98.28%;
  --foreground: 255 10% 0.56%;

  --muted: 255 10% 91.4%;
  --muted-foreground: 255 5% 41.4%;

  --popover: 255 10% 91.4%;
  --popover-foreground: 255 10% 0.7000000000000001%;

  --card: 255 10% 91.4%;
  --card-foreground: 255 10% 0.7000000000000001%;

  --border: 255 15% 89.56%;
  --input: 255 15% 89.56%;

  --primary: 255 100% 14%;
  --primary-foreground: 255 2% 91.4%;

  --secondary: 255 5% 95.7%;
  --secondary-foreground: 255 7% 11.4%;

  --accent: 255 5% 95.7%;
  --accent-foreground: 255 7% 11.4%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --ring: 255 100% 14%;

  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
